<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
    <title>[title]</title>
    <meta name="keywords" content="[keywords]">
    <meta name="description" content="Dashboard">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--Basic Styles-->
    <link href="__STATIC__admin/style/bootstrap.css" rel="stylesheet">
    <link href="__STATIC__admin/style/font-awesome.css" rel="stylesheet">
    <link href="__STATIC__admin/style/weather-icons.css" rel="stylesheet">
    <link href="__STATIC__admin/style/iconfont.css" rel="stylesheet">

    <!--Beyond styles-->
    <link id="beyond-link" href="__STATIC__admin/style/beyond.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__admin/style/demo.css" rel="stylesheet">
    <link href="__STATIC__admin/style/typicons.css" rel="stylesheet">
    <link href="__STATIC__admin/style/animate.css" rel="stylesheet">

    <script type="text/javascript" src="__STATIC__admin/style/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="__STATIC__admin/style/axios.js"></script>
</head>
<body>
<!-- 头部 -->
{include file="public/top"}
<!-- /头部 -->