{layout name='public/layout'}
<!-- /头部 -->
<div class="main-container container-fluid">
	<div class="page-container">
		<!-- Page Sidebar -->
        <div class="page-sidebar" id="sidebar">
            <!-- Page Sidebar Header-->
            <div class="sidebar-header-wrapper">
                <input class="searchinput" type="text">
                <i class="searchicon fa fa-search"></i>
                <div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>
            </div>
            <!-- /Page Sidebar Header -->
            <!-- Sidebar Menu -->
            {include file='public/left'}
            <!-- /Sidebar Menu -->
        </div>
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                   	<li>
                   		<a href="{:url('../admin')}">系统</a>
                	</li>
                    <li>
                    	<a href="{:url('./brand/read')}">品牌管理</a>
                	</li>
                    <li class="active">修改品牌</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->

            <!-- Page Body -->
          	<div class="page-body">
				<div class="row">
				    <div class="col-lg-12 col-sm-12 col-xs-12">
				        <div class="widget">
				            <div class="widget-header bordered-bottom bordered-blue">
				                <span class="widget-caption">修改品牌</span>
				            </div>
				           
				            <div class="widget-body">
				                <div id="horizontal-form">
				                    <form class="form-horizontal" role="form" action="../{$id}" method="post" enctype="multipart/form-data">
				                    	<input type="hidden" value="PUT" name="_method">
				                    	{volist name=':model("brand")->where("id=$id")->all()' id='obj'}
				                        <div class="form-group">
				                            <label for="username" class="col-sm-2 control-label no-padding-right">品牌名称</label>
				                            <div class="col-sm-6">
				                                <input value="{$obj.brand_name}" class="form-control" placeholder="" name="brand_name" required="" type="text">
				                            </div>
				                            <p class="help-block col-sm-4 red">* 必填</p>
				                        </div>
				                        <div class="form-group">
				                            <label for="username" class="col-sm-2 control-label no-padding-right">品牌网址</label>
				                            <div class="col-sm-6">
				                                <input class="form-control" name="brand_url" type="text" value="{$obj.brand_url}">
				                            </div>
				                        </div>
				                        <div class="form-group">
				                            <label for="username" class="col-sm-2 control-label no-padding-right">品牌logo</label>
				                            <div class="col-sm-6">
				                                <input name="brand_img" type="file" class="_logo" style="border: none; box-shadow: none;" class="form-control">
				                                {if $obj.brand_img == ''}
				                               		暂无图片
				                                {else}<img src="../../static/uploads/{$obj.brand_img}" height="30" class="img_logo">{/if}
				                            </div>
				                        </div>

				                        <div class="form-group">
				                            <label for="username" class="col-sm-2 control-label no-padding-right" >品牌描述</label>
				                            <div class="col-sm-6">
				                            	<textarea class="form-control" name="brand_description" >{$obj.brand_description}</textarea>
				                            </div>
				                        </div>
				                       	<div class="form-group">
				                            <label for="username" class="col-sm-2 control-label no-padding-right">品牌状态</label>
				                            <div class="col-sm-6" style="display: hidden;">
				                            	<div class="radio" style="float: left; padding-right: 10px;">
				                            		<label>
				                            			<input checked="checked" value="1" name="status" type="radio"><span class="text">显示</span>
				                            		</label>
				                            	</div>
				                            	<div class="radio" style="float: left;">
				                            		<label>
				                            			<input name="status" value="0" class="inverted" type="radio" {notempty name='$obj.status|strpos="error"'}checked='checked'{/notempty}><span class="text">隐藏</span>
				                            		</label>
				                            	</div>
				                            </div>
				                        </div>
				                       
				                        <div class="form-group">
				                            <div class="col-sm-offset-2 col-sm-10">
				                                <button type="submit" class="btn btn-default">保存信息</button>
				                            </div>
				                        </div>
				                    </form>
				                </div>
				            </div>
				            {/volist}
				        </div>
				    </div>
				</div>
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->
	</div>	
</div>


<script>
$(function() {
    //上传图片就删除显示图片dom
    $('._logo').on('input', function() {
        $('.img_logo').remove()
    })

    //解决上传后没提交 刷新之后同时出现图片和上传文件的问题
    if (  $('._logo').val() ) $('.img_logo').remove()
})
</script>